@font-face {
  font-family: Meanwhile;
  src: url(../fonts/Meanwhile.ttf);
}

@font-face {
  font-family: Calibri Light;
  src: url(../fonts/CalibriLight.ttf);
}

/* line 81, ../sass/helper.sass */
.z-1 {
  z-index: 1;
}

/* line 81, ../sass/helper.sass */
.z-2 {
  z-index: 2;
}

/* line 81, ../sass/helper.sass */
.z-3, #frame-016 .wood-button, #frame-016 .coin-button {
  z-index: 3;
}

/* line 81, ../sass/helper.sass */
.z-4, #frame-016 .jug-button {
  z-index: 4;
}

/* line 81, ../sass/helper.sass */
.z-5 {
  z-index: 5;
}

/* line 81, ../sass/helper.sass */
.z-6 {
  z-index: 6;
}

/* line 81, ../sass/helper.sass */
.z-7 {
  z-index: 7;
}

/* line 81, ../sass/helper.sass */
.z-8 {
  z-index: 8;
}

/* line 81, ../sass/helper.sass */
.z-9 {
  z-index: 9;
}

/* line 81, ../sass/helper.sass */
.z-10 {
  z-index: 10;
}

/* line 81, ../sass/helper.sass */
.z-11 {
  z-index: 11;
}

/* line 81, ../sass/helper.sass */
.z-12 {
  z-index: 12;
}

/* line 81, ../sass/helper.sass */
.z-13 {
  z-index: 13;
}

/* line 81, ../sass/helper.sass */
.z-14 {
  z-index: 14;
}

/* line 81, ../sass/helper.sass */
.z-15 {
  z-index: 15;
}

/* line 81, ../sass/helper.sass */
.z-16 {
  z-index: 16;
}

/* line 81, ../sass/helper.sass */
.z-17 {
  z-index: 17;
}

/* line 81, ../sass/helper.sass */
.z-18 {
  z-index: 18;
}

/* line 81, ../sass/helper.sass */
.z-19 {
  z-index: 19;
}

/* line 81, ../sass/helper.sass */
.z-20 {
  z-index: 20;
}

/* line 84, ../sass/helper.sass */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 92, ../sass/helper.sass */
.next-button, .start-button, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 30%;
  text-align: center;
  padding-top: 8.5%;
}

/* line 106, ../sass/helper.sass */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 110, ../sass/helper.sass */
.absolute-max, #frame-000 .bg-1, #frame-000 .bg-2, .intro-video, .intro-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 117, ../sass/helper.sass */
.absolute, #frame-000 .menu-roll, #frame-000 .menu-roll-final, #frame-000 .chest-open, #frame-000 .chest-closed, #frame-000 .button, .reg-box, #frame-005 .example-formula, #frame-005 .bucket, #frame-005 .bucket-c, #frame-005 .plus-sign, #frame-005 .bucket-o2, #frame-005 .equal-sign, #frame-005 .bucket-co, #frame-005 label, #frame-005 .stone, #frame-005 .stone-c, #frame-005 .stone-o2, #frame-005 .stone-co, #frame-016 .wood-button, #frame-016 .coin-button, #frame-016 .jug-button, #frame-016 .farewell, #frame-000 .annotation-hidden, #frame-000 .annotation-button, #frame-000 .copyright, .intro-pic .grade, .intro-pic .subject {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 122, ../sass/helper.sass */
.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 129, ../sass/helper.sass */
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 136, ../sass/helper.sass */
.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white;
}

/*FRAME 000 */
/* FRAME 000 */
/* line 143, ../sass/helper.sass */
#frame-000 .bg-1 {
  background-image: url(../pics/s0-bg.jpg);
}

/* line 147, ../sass/helper.sass */
#frame-000 .bg-2 {
  background-image: url(../pics/s0-bg-2.jpg);
}

/* line 151, ../sass/helper.sass */
#frame-000 .menu-roll {
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-image: url(../pics/s0-menu-roll.png);
}

/* line 156, ../sass/helper.sass */
#frame-000 .menu-roll-final {
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-image: url(../pics/s0-menu-roll-final.png);
}

/* line 161, ../sass/helper.sass */
#frame-000 .chest-open {
  left: 45%;
  top: 40%;
  width: 10%;
  height: 20%;
  background-image: url(../pics/s0-chest-open.png);
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 167, ../sass/helper.sass */
#frame-000 .chest-open-big {
  left: 25%;
  top: 0%;
  width: 50%;
  height: 100%;
}

/* line 170, ../sass/helper.sass */
#frame-000 .chest-closed {
  left: 25%;
  top: 0%;
  width: 50%;
  height: 100%;
  background-image: url(../pics/s0-chest-closed.png);
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 176, ../sass/helper.sass */
#frame-000 .chest-closed-small {
  left: 45%;
  top: 40%;
  width: 10%;
  height: 20%;
  opacity: 0;
}

/* line 180, ../sass/helper.sass */
#frame-000 .button {
  left: 78.15%;
  top: 39.1%;
  width: 20.1%;
  height: 22.1%;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 70%;
  text-align: center;
  padding: 2%;
  padding-top: 3%;
  font-family: Verdana;
  background-color: #45484d;
  background-image: -webkit-linear-gradient(top, #45484d, black);
  background-image: -moz-linear-gradient(top, #45484d, black);
  background-image: -ms-linear-gradient(top, #45484d, black);
  background-image: -o-linear-gradient(top, #45484d, black);
  background-image: linear-gradient(to bottom, #45484d, #000000);
  z-index: 4;
}

/* line 194, ../sass/helper.sass */
#frame-000 .button:hover {
  border: 1px solid #a0a0a0;
  background-color: #bababa;
  background-image: -webkit-linear-gradient(top, #bababa, #575757);
  background-image: -moz-linear-gradient(top, #bababa, #575757);
  background-image: -ms-linear-gradient(top, #bababa, #575757);
  background-image: -o-linear-gradient(top, #bababa, #575757);
  background-image: linear-gradient(to bottom, #bababa, #575757);
}

/*REG BOX */
/* line 205, ../sass/helper.sass */
.reg-box {
  left: 80%;
  top: 75%;
  width: 19%;
  height: 20%;
  border-radius: 7px;
  border: 1px solid lightgrey;
  opacity: 0.9;
  color: white;
  background-color: grey;
  font-size: 20%;
  padding: 1em;
  line-height: 2em;
  text-align: right;
  z-index: 10;
  font-family: Verdana;
}

/* line 220, ../sass/helper.sass */
.reg-box.topcorner {
  left: 1.5%;
  top: 3%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 224, ../sass/helper.sass */
.reg-box .error {
  color: red;
  font-size: 80%;
  text-align: center;
}

/* line 229, ../sass/helper.sass */
.reg-box input {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  height: 2em;
  width: 13em;
  padding: 0.25em;
}

/* line 238, ../sass/helper.sass */
.reg-box .enter-button {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  height: 2em;
  padding: 0.25em;
}

/* line 246, ../sass/helper.sass */
.reg-box .enter-button:hover {
  background-color: black;
  color: white;
}

/* line 251, ../sass/helper.sass */
#frame-005 .example-formula {
  left: 36.1%;
  top: 25.7%;
  width: 29.45%;
  height: 16.3%;
  background-image: url(../pics/example-formula.png);
}
/* line 256, ../sass/helper.sass */
#frame-005 .bucket {
  background-size: 400% 100%;
}
/* line 260, ../sass/helper.sass */
#frame-005 .bucket-c {
  left: 24.75%;
  top: 50%;
  width: 12.5%;
  height: 27%;
  background-image: url(../pics/bucket-lvl.png);
}
/* line 264, ../sass/helper.sass */
#frame-005 .plus-sign {
  left: 40%;
  top: 60%;
  width: 2.5%;
  height: 5%;
  font-weight: bold;
}
/* line 268, ../sass/helper.sass */
#frame-005 .bucket-o2 {
  left: 44.6%;
  top: 50.2%;
  width: 12.5%;
  height: 27%;
  background-image: url(../pics/bucket-lvl-o2.png);
}
/* line 272, ../sass/helper.sass */
#frame-005 .equal-sign {
  left: 59%;
  top: 60%;
  width: 2.5%;
  height: 5%;
  font-weight: bold;
  cursor: pointer;
}
/* line 277, ../sass/helper.sass */
#frame-005 .equal-sign:hover {
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
  color: white;
}
/* line 281, ../sass/helper.sass */
#frame-005 .bucket-co {
  left: 66.25%;
  top: 50%;
  width: 12.5%;
  height: 27%;
  background-image: url(../pics/bucket-lvl-co.png);
}
/* line 285, ../sass/helper.sass */
#frame-005 label {
  font-size: 30%;
  font-family: Verdana;
  font-weight: bold;
  left: 40%;
  top: 74%;
}
/* line 293, ../sass/helper.sass */
#frame-005 .stone {
  background-size: 100% 100%;
}
/* line 297, ../sass/helper.sass */
#frame-005 .stone-c {
  left: 20.35%;
  top: 87.5%;
  width: 5%;
  height: 7.4%;
  background-image: url(../pics/c-elem.png);
}
/* line 301, ../sass/helper.sass */
#frame-005 .stone-o2 {
  left: 45.75%;
  top: 90.5%;
  width: 6.15%;
  height: 7.1%;
  background-image: url(../pics/o2-elem.png);
}
/* line 305, ../sass/helper.sass */
#frame-005 .stone-co {
  left: 70%;
  top: 88.7%;
  width: 7.3%;
  height: 7.5%;
  background-image: url(../pics/co-elem.png);
}

/* line 310, ../sass/helper.sass */
#frame-016 .button {
  cursor: pointer;
}
/* line 313, ../sass/helper.sass */
#frame-016 .wood-button {
  left: 0%;
  top: 0%;
  width: 99.6%;
  height: 17.3%;
}
/* line 317, ../sass/helper.sass */
#frame-016 .coin-button {
  left: 0%;
  top: 19.4%;
  width: 100%;
  height: 80.6%;
}
/* line 321, ../sass/helper.sass */
#frame-016 .jug-button {
  left: 71.05%;
  top: 57.1%;
  width: 28.95%;
  height: 42.9%;
}
/* line 325, ../sass/helper.sass */
#frame-016 .farewell {
  left: 25%;
  top: 40%;
  width: 10%;
  height: 20%;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  font-family: Comic Sans Ms;
  text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}

/*ANNOTATION */
/* line 334, ../sass/helper.sass */
#frame-000 .annotation-hidden {
  z-index: 20;
  left: -120%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  padding: 3em 7em;
  font-size: 35%;
  font-family: Calibri Light;
  text-align: left;
}

/* line 346, ../sass/helper.sass */
#frame-000 .annotation-hidden ul li {
  font-family: Calibri Light;
  font-size: 75%;
}

/* line 350, ../sass/helper.sass */
#frame-000 .annotation-hidden .footer {
  font-family: Calibri Light;
  font-style: italic;
  font-size: 100%;
}

/* line 355, ../sass/helper.sass */
#frame-000 .annotation-hidden .header {
  font-family: Calibri;
  font-style: bold;
  font-size: 120%;
  display: block;
  min-width: 100%;
  text-align: center;
}

/* line 363, ../sass/helper.sass */
#frame-000 .annotation-shown {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

/* line 366, ../sass/helper.sass */
#frame-000 .annotation-button {
  z-index: 23;
  left: 5%;
  top: 85%;
  width: 5%;
  height: 5%;
  font-size: 30%;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* line 375, ../sass/helper.sass */
#frame-000 .annotation-button-close {
  color: gray;
}

/* line 378, ../sass/helper.sass */
#frame-000 .annotation-button:hover {
  color: blue;
}

/* line 381, ../sass/helper.sass */
#frame-000 .copyright {
  z-index: 23;
  left: 77%;
  top: 96%;
  width: 23%;
  height: 5%;
  font-size: 20%;
  font-family: Segoe;
  color: black;
}

/*INTRO VIDEO */
/* line 394, ../sass/helper.sass */
.intro-video {
  display: block;
  z-index: 25;
}

/*INTRO PIC */
/* line 401, ../sass/helper.sass */
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 24;
}

/* line 406, ../sass/helper.sass */
.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 70%;
  color: white;
  text-align: center;
}

/* line 414, ../sass/helper.sass */
.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 40%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 50%;
  color: #666564;
  text-align: left;
}

/* line 422, ../sass/helper.sass */
.intro-pic .subject .sub-part {
  font-size: 80%;
  font-family: Calibri Light;
}
